@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/ofont.ru_Avenir Next.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 20px 20px; /* Size of the grid squares */
}

.fade-x-gradient {
  position: relative;
}

.fade-x-gradient::before,
.fade-x-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Adjust width of the fade */
  pointer-events: none; /* Allows clicking through the gradient */
  z-index: 10;
}

.fade-x-gradient::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.fade-x-gradient::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

/* On smaller screens, the fade is smaller */
@media (max-width: 640px) {
  .fade-x-gradient::before,
  .fade-x-gradient::after {
    width: 50px;
  }
}